<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Webcam Stream</title>
  <link rel="stylesheet" href="/styles/display.css">
</head>
<body>
  <header>
    <div class="right">
      <div class="field">
        <h1>All Incoming Streams</h1>
      </div>
    </div>

    <div class="left">
      <img src="/img/logo.png" width="300px" alt="">
      <p>SECURITY THAT NEVER SLEEPS</p>
    </div>
    
  </header>
  <div id="streams">
    <!-- video elements will be added here -->
  </div>
  <script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/display.js" defer></script>
</body>
</html>
