<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monitor GUI</title>
  <link rel="stylesheet" href="/styles/display.css">
</head>

<body>
  <header>
    <div class="left">
      <p><strong>Speed:</strong> <span id="display-speed"></span> m/s</p>
      <p><strong>Latitude:</strong> <span id="display-latitude"></span></p>
      <p><strong>Longitude:</strong> <span id="display-longitude"></span></p>
    </div>
    <div class="right">
      <p><strong>Temperature:</strong> <span id="display-temperature"></span> °C</p>
      <p><strong>Battery:</strong> <span id="display-battery"></span> %</p>
      <p><strong>Network Strength:</strong> <span id="display-network"></span> %</p>
    </div>
  </header>
  
  <div id="streams">
    <!-- video elements will be added here -->
  </div>
  <script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/display.js" defer></script>
</body>

</html>