<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Webcam Stream</title>
  <link rel="stylesheet" href="/styles/sender.css">
</head>

<body>

  <header>
    <div class="left">
      <h2>Local Camera feed</h2>
    </div>
    <div class="right">
      <div class="field">
        <p class="label">Client id</p>
        <p class="value"><%= locals.id %></p>
      </div>
    </div>
  </header>

  <section>
    <video class="right" id="localVideo"  autoplay playsinline></video>
  </section>


  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
  <script>
    const socket = io();

    const localVideo = document.getElementById('localVideo');

    const id = "<%= locals.id%>" //taking id from express server

    socket.emit('client-id', id);

    // creating a new client on Peer server with id that came from socket io server
    const peer = new Peer(id, { host: '/', port: '3001', secure: true });

    var getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
    getUserMedia({ video: true }, (stream) => {
      localVideo.srcObject = stream;    //setting local video stream to video element
      peer.call('display', stream);     //calling display client with live local streamj
    },

      (err) => {
        alert('Failed to get local stream');
      });

  </script>
</body>

</html>