.videos{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 700px 400px;
  gap: 10px;
}

.vdo-wrap{
  background-color: black;
  flex: 1;
  grid-row-start: 2;
  width: 100%;
  height: 100%;
  position: relative;
}

.vdo-wrap.active{
  grid-column: 1/4;
  grid-row-start: 1;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

p{
  position: absolute;
  bottom: 0;
  background-color: white;
}

